nelmio_api_doc:
  documentation:
    components:
      schemas:
        Author:
          title: "Author"
          type: "object"
          properties:
            name:
              type: string
            link:
              type: string

        listAuthor:
          properties:
            author:
              type: "array"
              items:
                allOf:
                  - $ref: '#/components/schemas/Author'
          title: "listAuthor"
          required: [ "items" ]
          type: "object"
