nelmio_api_doc:
  documentation:
    components:
      schemas:
        singleRedirect:
          title: "singleRedirect"
          type: "object"
          required: ['domain', 'origin', 'target', 'permanent']
          properties:
            id:
              type: "integer"
            domain:
              type: "string"
            origin:
              type: "string"
            note:
              type: "string"
            target:
              type: "string"
            permanent:
              type: "boolean"

        listRedirect:
          properties:
            folder:
              type: "array"
              items:
                allOf:
                  - $ref: '#/components/schemas/singleRedirect'
          title: "listRedirect"
          required: [ "items" ]
          type: "object"
